/**{*/
/*    color: aqua;*/
/*}*/

#gridcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-gap: 20px;
    grid-auto-rows: minmax(100px,auto);
    grid-auto-columns: minmax(50px,auto);
    column-gap: 30px;
    row-gap: 30px;
}
.griditem{
    background-color: #7abe55;
    border:  3px #549d9d solid;
    border-radius: 10px;
}



@media  (max-width: 300px) {
    body{
        background-color: #345a34;
    }
}
@media (min-width: 300px)and(max-width: 400px) {
    body{
        background-color: #7abe55;
    }
    
}
@media (min-width: 400px)and (max-width: 600px) {
    body{
        background-color: #181313;
    }
}
@media (min-width: 600px) {
    body{
        background-color: #bdb38f;
    }
    
}


#flexcontainer{
    height:  200px;
    width: 90%;
    display: flex;
    border-style: solid;
   margin-left: 33px;
    /*padding-left: 20px;*/
    padding-top: 20px;
    border-radius: 20px;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    
}
#navbar{
    background-color: #549d9d;
}


ul{
    display: flex;
    justify-content: space-evenly;
}
li{
    font-size: 19px;
    list-style-type: none;
    display: inline;

}







.fa-solid{
   padding-top: 20px;
    font-size: 50px;

}


#box1{
    width: 15%;
    background-color: aquamarine;
    align-self: flex-end;
    flex-shrink: 2;

}
#box2{
    width: 15%;
    background-color: sandybrown;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;

}
#box2-2{
    width: 80px;
    height: 50px;
    background-color: chartreuse;
    border-radius: 10px;
    border-style: solid;

}
#box3{
    width: 15%;
    background-color: aqua;
    align-self: flex-end;
}
#box4{
    width: 15%;
    background-color: blueviolet;
    flex-grow: 2;
}
#box5{
    width: 15%;
    background-color: #711313;
    align-self: flex-end;
}
#box1,#box2,#box3,#box4,#box5{
    /*padding-top: 10px;*/
    /*margin-right: 10px;*/
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    height: 100px;
}

.column{
    float: left;
    width: 25%;
    padding: 20px;
}
#maincontent{
    overflow: scroll;
}

/*@media screen and  (max-width: 600px){*/
/*    body{*/
/*        color: red;*/
/*    }*/
/*}*/
/*@media   screen and  (orientation: landscape) and (max-width: 500px) {*/
/*    body{*/
/*        color: #0315f9;*/
/*    }*/


/*@media  screen and (max-width: 600px),screen and (orientation: landscape) {*/
/*    body{*/
/*        color: #e22bae;*/
/*    }*/

/*}*/

/*@media not screen and (orientation: landscape) {*/
/*    body{*/
/*        color: blue;*/
/*    }*/

/*}*/

/*@media screen and (max-width: 600px) {*/
/*    div{*/
/*        background-color: red;*/
/*    }

}*/


.layout{
    border-radius: 10px;
    border-style: solid;
}

#maincontent{
    height: 400px;
    width: 100%;
    text-align: center;
    padding-top: 150px;
    background-color: rgba(5,100,50,0.5);
}
#footer{
    font-size: 25px;
    height: 30px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    background-color: rgba(1.2, 133, 38, 0.5);
    padding-bottom: 20px;


}

#inline{
    display: inline;
}



#traffic{
    margin-top: 20px;
    margin-left: 200px;
    text-transform: capitalize;
    color: white;
    background-color: black;
    height: 370px;
    width: 120px;
    text-align: center;
    border-radius: 35px;
}
#red{
    background-color: red;
    height: 100px;
    width: 100px;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 10px;
    /*display: none;*/
}
#green{
    background-color: green;
    height: 100px;
    width: 100px;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
#yellow{
    background-color: yellow;
    height: 100px;
    width: 100px;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 10px;
}


#div100{
    background-color: green ;
    height: 100px;
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    border-style: dotted;
    margin: 30px;

}

#level2boxmodel{
    background-color: aqua;
    height: 90px;
    width: 100%;
    padding: 30px;
    border-radius: 30px;
    /*border-radius: 50%;*/
    border-color: black;
    margin: 10px;
    border-width: 10px;
    border-style: dotted;
    text-align: center;

}
#boxtext{
    margin: 2px;
}

#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
}

#test2{
    text-align: center;
    text-transform: uppercase;
    font-family: "Times New Roman", serif;
}



#one{
    font-family: sans-serif;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}
#two{
    font-family: "Arial Black", serif;
    font-size: 12px;
    line-height: normal;
    text-transform: capitalize;
}
#box{
    background-color: blue;
    opacity: 1;
    text-align: end;
    text-decoration: underline;
}

h1{
    color: blue;
    text-align: center;
    text-decoration: black wavy overline;
    font-weight: 100;
}
h2{
    color: green;
    text-align: left;
    text-decoration: red line-through;
    font-weight: 900;
}
h3{
    color: aqua;
    text-align: right;
}
a{
    text-decoration: none;
}


P{
    color: chocolate;
}

button{
    color: blueviolet;
    background: palegoldenrod;
}
#monday{
    color: blueviolet;
}
#tuesday{
    color: blue;
}
/*#wednesday{*/
/*    color: aquamarine;*/
/*}*/
/*#thursday{*/
/*    color: black;*/
/*}*/

.cse{
    color: brown;
}


/*h1,h2,h3{*/
/*    color: red;*/
/*}*/

/*#button{*/
/*    background: green;*/
/*}*/

/*button{*/
/*    background: green;*/
/*}*/