*{
    background-color: #7fa3a3;
}
#button{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    border-radius: 15px;
    box-shadow: 10px 5px 10px blue;
    cursor: pointer;
    /*width: 60px;*/
    /*height: 60px;*/
    background-color: #345a34;
    color: blue;
    font-weight: bold;
    font-size: 30px;
}